#wrapper{
  padding-top: 125px;
  padding-bottom: 24px;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  line-height: 4rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 4rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.4rem;
}

p {
  font-size: 1.0rem;
  line-height: 1.6rem;
}

ul {
  list-style: none;
}

ul.js-guides {
  margin-left: 18px;
}


ul.js-guides li a, ul.js-guides li span{
  font-size: 1.0rem;
  line-height: 2rem;
}

li {
  line-height: 1.6rem;
}

iframe {
  margin-bottom: 15px;
}

.post_body {
  margin-bottom: 25px;
}

#search form{
  float: right;
  padding-top: 10px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.sb-modal a.close {
  background: none;
}
